.main__item.height-auto
    .notes__section
        .notes__section-heading
            .section__heading Справка проверки
            .section__line
        button.button--dark Сформировать
    .notes__section
        .notes__section-heading
            .section__heading Акт проверки
            .section__line
        button.button--dark Сформировать
    .notes__section
        .notes__section-heading
            .section__heading Схема проверки
            .section__line
        button.button--dark Сформировать
