header.header
    .header__row
        .button.button--hamburger-wrapper
            button.button--hamburger#buttonHamburger
                .hamburder-dot
        .header__row.align-end
            .heading--wrapper
                +heading()
                    |Карточка мероприятия
            a(href="#!").header__link Обновлено
        .header__menu
            .header__menu-items
                button.header__button.header__button--white Материалы проверки
                button.header__button.button--add
                button.header__button
                    img.header__button-img(src="./img/icons/settings-icon.svg")


