.main__item.main__item--15.height-auto.paddings-zero
    .item__section
        .item__section-content
            .section__heading Структура предприятия
    .item__section
        .item__section-content
            .section__info.main__section-top
                .main__section-row
                    .section__heading ФГБУН Институт нанотехнологий микроэлектроники РАН
                    .section__doc
                        button.button-check.icon-wrapper.icon-wrapper-check
                            img.icon-arrow(src="./img/icons/check.svg")
                        .icon-wrapper--absolute.icon-wrapper-file
                            img.icon-file(src="./img/icons/file-icon.svg")
                p.main__item-text.main__item-text--small.text--dark-red Идёт процесс ликвидации с 25.10.2019 по 10.10.2020
            .section__info.main__section-employee
                p.main__item-text Директор: Сауров Александр Николаевич
                p.main__item-text.main__item-text--small Трудовой контракт с 25.03.2017 по 25.03.2023
            .section__info.main__section-contacts
                .main__section-contact
                    .icon-wrapper.icon-contacts
                        img.icon-contact(src="./img/icons/marker-icon.svg")
                    p.main__item-text.main__item-text--small 119991, Москва, Ленинский просп., 32а
                .main__section-contact
                    .icon-wrapper.icon-contacts
                        img.icon-contact(src="./img/icons/user-icon.svg")
                    p.main__item-text.main__item-text--small 123 сотрудника
    .item__section
        .item__section-content
            .section__info.main__section-top
                .main__section-row
                    .section__heading ФГБУН Институт нанотехнологий микроэлектроники РАН
                    .section__doc
                        button.button-check.icon-wrapper.icon-wrapper-check
                            img.icon-arrow(src="./img/icons/check.svg")
                        .icon-wrapper--absolute.icon-wrapper-file
                            img.icon-file(src="./img/icons/file-icon.svg")
                p.main__item-text.main__item-text--small.text--dark-red Находится в реорганизации с 23.09.2018 по 23.09.2020
            .section__info.main__section-employee
                p.main__item-text Директор: Сауров Александр Николаевич
                p.main__item-text.main__item-text--small Трудовой контракт с 25.03.2017 по 25.03.2023
            .section__info.main__section-contacts
                .main__section-contact
                    .icon-wrapper.icon-contacts
                        img.icon-contact(src="./img/icons/marker-icon.svg")
                    p.main__item-text.main__item-text--small 119991, Москва, Ленинский просп., 32а
                .main__section-contact
                    .icon-wrapper.icon-contacts
                        img.icon-contact(src="./img/icons/user-icon.svg")
                    p.main__item-text.main__item-text--small 123 сотрудника
            .section__info
                .section__heading.section__org-name Наименование организации до реорганизации
                .main__section-contact
                    .icon-wrapper.icon-contacts
                        img.icon-contact(src="./img/icons/signature-icon.svg")
                    p.main__item-text.main__item-text--small.text--dark ФГБУН науки Объединенный институт высоких температур РАН
                .main__section-contact
                    .icon-wrapper.icon-contacts
                        img.icon-contact(src="./img/icons/signature-icon.svg")
                    p.main__item-text.main__item-text--small.text--dark ФГБУН Институт проблем управления сложными системами РАН
    .item__section
        .item__section-content
            .section__info.main__section-top
                .main__section-row
                    .section__heading ФГБУН Институт нанотехнологий микроэлектроники РАН
                    .section__doc
                        button.button-check.icon-wrapper.icon-wrapper-check
                            img.icon-arrow(src="./img/icons/check.svg")
                        .icon-wrapper--absolute.icon-wrapper-file
                            img.icon-file(src="./img/icons/file-icon.svg")
                p.main__item-text.main__item-text--small.text--dark-red Идёт процесс банкротства с 23.09.2018 по 23.09.2020
            .section__info.main__section-employee
                p.main__item-text Директор: Сауров Александр Николаевич
                p.main__item-text.main__item-text--small Трудовой контракт с 25.03.2017 по 25.03.2023
            .section__info.main__section-contacts
                .main__section-contact
                    .icon-wrapper.icon-contacts
                        img.icon-contact(src="./img/icons/marker-icon.svg")
                    p.main__item-text.main__item-text--small 119991, Москва, Ленинский просп., 32а
                .main__section-contact
                    .icon-wrapper.icon-contacts
                        img.icon-contact(src="./img/icons/user-icon.svg")
                    p.main__item-text.main__item-text--small 123 сотрудника

