.header {
  margin-bottom: 3rem;
  color: #fff;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-items {
  display: flex;
  align-items: center;
}
