.nav {
  display: none;
  position: relative;
  padding: 2.5rem 1.25rem;
  background-color: #1f2339;
  height: 100%;

  &::before {
    content: "";
    position: fixed;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    background-color: #1f2339;
    z-index: -1;
  }

  @media (min-width: 80rem) {
    display: block;
  }
}

.nav__top {
  margin-bottom: 5.3125rem;
}

.nav__link {
  display: flex;
  align-items: center;
  margin-bottom: 1.5625rem;
  color: #fff;

  &:last-child {
    margin-bottom: 0;
  }
}

.link__img-wrapper {
  margin-right: 0.6875rem;
  width: 1.5rem;
}

.link__img-wrapper--small {
  margin-right: 0.6875rem;
  width: 1.06rem;
}
