main
    .main__row
        .companies__table-wrapper
            table.companies__table
                thead
                    tr
                        th.table__name Наименование организации
                        th.number ИНН
                        th.table__chief Руководитель
                        th.table__address(colspan="2") Адрес
                tbody
                    tr
                        td
                            span.table__diagram.diagram--red Фонд "Сколково"
                        td.text-center 7706412961
                        td Балега Юрий Юрьевич
                        td обл. Московская, г. Одинцово, д. Сколково, ул. Новая, 100
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--red АНО "Издательство РАМН" 
                        td.text-center 7709202761
                        td Султыгов Марат Магомедович
                        td г. Москва, Переулок Яковоапостольский, д. 11-13, стр. 1, пом. 1
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td.no-wrap
                            span.table__diagram.diagram--red Российское историческое общество
                        td.text-center 7704280029
                        td Иванов  Петр Иванович
                        td г. Москва, ул. Воронцово поле, д. 13, стр 1
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--red Академический учебно-научное
                        td.text-center 7704274804
                        td Иванов  Иван Николаевич
                        td г. Москва, переулок Борисоглебский, д. 13, 3
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--red ЦИПБ РАН 
                        td.text-center 7728514244
                        td Петров  Иван Федорович
                        td г. Москва, ул. Гарибальди, д. 21Б
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--magenta ООО “Прибор -ресурс”
                        td.text-center 7743226441
                        td Кудряшов  Борис  Андреевич
                        td г. Москва, просп. Ленинградский, д. 77, кор. 1, под пом VIII К 7
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--magenta ООО “Прибор -ресурс”
                        td.text-center 7743226441
                        td Сергеев Александр Михайлоич
                        td г. Москва, просп. Ленинградский, д. 77, кор. 1,под пом VIII К 7
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--magenta ООО “Прибор -ресурс”
                        td.text-center 7743226441
                        td Балега Юрий Юрьевич
                        td г. Москва, просп. Ленинградский, д. 77, кор. 1,под пом VIII К 7
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--magenta Фонд "Сколково"
                        td.text-center 7706412961
                        td Султыгов Марат Магомедович
                        td обл. Московская, г. Одинцово, д. Сколково, ул. Новая, 100
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--magenta АНО "Издательство РАМН"
                        td.text-center 7709202761
                        td Иванов  Петр Иванович
                        td г. Москва, Переулок Яковоапостольский, д. 11-13, стр. 1, пом. 1
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--turquoise Российское историческое общество
                        td.text-center 7704280029
                        td Иванов  Иван Николаевич
                        td г. Москва, ул. Воронцово поле, д. 13, стр 1
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--turquoise Фонд "Сколково"
                        td.text-center 7706412961
                        td Балега Юрий Юрьевич
                        td обл. Московская, г. Одинцово, д. Сколково, ул. Новая, 100
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--turquoise Фонд "Сколково"
                        td.text-center 7706412961
                        td Балега Юрий Юрьевич
                        td обл. Московская, г. Одинцово, д. Сколково, ул. Новая, 100
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--turquoise Фонд "Сколково"
                        td.text-center 7706412961
                        td Балега Юрий Юрьевич
                        td обл. Московская, г. Одинцово, д. Сколково, ул. Новая, 100
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--turquoise Фонд "Сколково"
                        td.text-center 7706412961
                        td Балега Юрий Юрьевич
                        td обл. Московская, г. Одинцово, д. Сколково, ул. Новая, 100
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--turquoise Фонд "Сколково"
                        td.text-center 7706412961
                        td Балега Юрий Юрьевич
                        td обл. Московская, г. Одинцово, д. Сколково, ул. Новая, 100
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--turquoise Фонд "Сколково"
                        td.text-center 7706412961
                        td Балега Юрий Юрьевич
                        td обл. Московская, г. Одинцово, д. Сколково, ул. Новая, 100
                        td
                            img(src="./img/icons/edit-icon.svg")
                    tr
                        td
                            span.table__diagram.diagram--turquoise Фонд "Сколково"
                        td.text-center 7706412961
                        td Балега Юрий Юрьевич
                        td обл. Московская, г. Одинцово, д. Сколково, ул. Новая, 100
                        td
                            img(src="./img/icons/edit-icon.svg")
    .main__row
        +time