header.header
    .header__row
        .button.button--hamburger-wrapper
            button.button--hamburger#buttonHamburger
                .hamburder-dot
        +heading()
            |ИП Васильев
        .header__menu
            .header__menu-items
                button.header__button.button--add
                button.header__button
                    img.header__button-img(src="./img/icons/settings-icon.svg")


