main.main
    .main__row
        a.main__item.main__item--3(href="#!")
            .main__item-content
                p.main__item-title Работа с полями
                .main__item-img-wrapper
                    img.main__item-img(src="./img/fields.svg")
        a.main__item.main__item--3(href="#!")
            .main__item-content
                p.main__item-title Работа с полями
                p.main__item-text Поволжье
                .main__item-img-wrapper
                    img.main__item-img(src="./img/map.svg")
        a.main__item.main__item--3(href="#!")
            .main__item-content
                p.main__item-title Погода в Курской области
                .main__item-row
                    .main__item-col.main__item-col--3
                        p.main__item-text 28.08.2020
                        p.main__item-text Среда
                    .main__item-col.main__item-col--1
                        p.main__item-text.main__item-text--large +28
                            sup.main__item-text--sup &#176;С
                .main__item-row.text--dark
                    .main__item-col.main__item-col--2
                        p.main__item-text 750 мм рт. ст.
                        p.main__item-text 3,5 м/с
                    .main__item-col.main__item-col--2
                        p.main__item-text Солнечно
                        p.main__item-text Осадки 7%
    .main__row
        a.main__item.main__item--1(href="#!")
            .main__item-content
                .main__item-row.main__item-row--space-between
                    .main__item-col
                        p.main__item-title.main__item-title--margin Отчёты и статистика
                        table.main__item-table
                            tr
                                th 2020 год
                                th 2019 год
                                th 2018 год
                            tr
                                td 123 000 000 ₽
                                td 90 568 666 ₽
                                td 200 568 666 ₽
                            tr
                                td 123 587 569 ₽
                                td 123 587 569 ₽
                                td 123 587 569 ₽
                            tr
                                td 258 654 588 ₽
                                td 258 654 588 ₽
                                td 258 654 588 ₽
                    .main__item-col
                        .main__item-img-wrapper
                            img.main__item-img(src="./img/diagram.svg")
        a.main__item.main__item--3(href="#!")
            .main__item-content
                p.main__item-title.main__item-title--margin Сотрудники 
                .main__item-employee
                    .main__item-col
                        p.main__item-text Иванов Иван Иванович
                        p.main__item-text.text--dark Заместитель
                    .main__item-col
                        .main__item-contacts-icons
                            .main__item-img-wrapper
                                img.main__item-img(src="./img/icons/phone-icon.svg")
                            .main__item-img-wrapper
                                img.main__item-img(src="./img/icons/mail-icon.svg")
                .main__item-employee
                    .main__item-col
                        p.main__item-text Константинов Иван Иванович
                        p.main__item-text.text--dark Секретарь
                    .main__item-col
                        .main__item-contacts-icons
                            .main__item-img-wrapper
                                img.main__item-img(src="./img/icons/phone-icon.svg")
                            .main__item-img-wrapper
                                img.main__item-img(src="./img/icons/mail-icon.svg")


