main.main
    .main__row
        a.main__item.main__item--3(href="#!")
            .main__item-content
                p.main__item-title Работа с полями
                .main__item-img-wrapper
                    img.main__item-img(src="./img/fields.svg")
