nav.nav
    .nav__top
        +navlink("index.html", "house-icon.svg", "link__img-wrapper--small")
            |Главная
        +navlink("#!", "user-outline-icon.svg", "link__img-wrapper--small")
            |Константин <br>Константиновский
    +navlink("#!", "calendar-icon.svg")
        |Мероприятия
    +navlink("#!", "employees-icon.svg")
        |Сотрудники
    +navlink("#!", "parchment-icon.svg")
        |Заметки
    +navlink("#!", "chart-pie-icon.svg")
        |Статистика
    +navlink("#!", "clipboard-check-icon.svg")
        |Удобрения
    +navlink("#!", "cloud-lightning-icon.svg")
        |Погода
    +navlink("#!", "megaphone-icon.svg")
        |Организации
    
