.header__button {
  font-family: "Open Sans";
  margin-right: 1.44rem;
  width: 2rem;
  height: 2rem;

  &:last-child {
    margin-right: 0;
  }
}

.button--add {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    background-color: #fff;
    width: 2px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    background-color: #fff;
    height: 2px;
  }
}

.header__button--white {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  width: fit-content;
  border-radius: 6px;
  background-color: #fff;
  font-weight: 600;
  font-size: 1rem;
}

.button--dark {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  width: fit-content;
  border-radius: 6px;
  background-color: #23273a;
  color: #43e8ff;
  font-weight: 600;
  font-size: 1rem;
}

.button-check {
  padding-left: 1rem;
}

.button--hamburger-wrapper {
  display: block;
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    border-radius: 50%;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    border-radius: 50%;
  }

  @media (min-width: 62.12rem) {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 2rem;
  }

  @media (min-width: 80rem) {
    display: none;
  }
}

.hamburder-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
}

.button--close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
  width: 1rem;
  height: 1rem;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 1.5rem;
    height: 0.2rem;
    background-color: #fff;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 1.5rem;
    height: 0.2rem;
    background-color: #fff;
  }

  @media (min-width: 80rem) {
    display: none;
  }
}
