.main__table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 41.57rem) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main__item-table {
  display: none;
  transform: translateX(-2.5%);
  text-align: left;
  border-spacing: 0;
  margin-bottom: 2rem;

  @media (min-width: 31.25rem) {
    display: block;
  }

  @media (min-width: 62.12rem) {
    margin-bottom: 0;
  }
}

th,
td {
  padding: 0.69rem;
  padding-right: 1.38rem;
  border-bottom: 1px solid #151e41;
}

td {
  border-right: 1px solid #151e41;

  &:last-child {
    border-right: none;
  }
}

tr:last-child td {
  border-bottom: none;
}
