.item__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 65.94rem) {
    flex-direction: row;
  }

  @media (min-width: 65.94rem) {
    display: block;
  }
}

.item__list-position {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1.4375rem;

  &::before {
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: linear-gradient(141.65deg, #43e9ff 22.09%, #00abab 67.48%),
      #646981;
    border-radius: 5px;
  }

  &:nth-child(2):before {
    background: linear-gradient(
        124.04deg,
        rgba(182, 26, 255, 0.5) -6.27%,
        rgba(0, 26, 255, 0.5) 98.36%
      ),
      #656cff;
  }
}

.list__heading {
  margin-bottom: 0.5rem;
  font-weight: 700;
}
