extends ./../layouts/main.pug

block variables
    - const title = "Мероприятия";


block content
    .container
        .row
            .col.col--left
                include ../sections/events/_events-nav.pug
            .col.col--right
                include ../sections/events/_events-header.pug
                include ../sections/events/_events-main.pug
                    
                    
            


