extends ./../layouts/main.pug

block variables
    - const title = "Главная";


block content
    .container
        .row
            .col.col--left#colLeft
                include ../sections/_nav.pug
            .col.col--right
                include ../sections/_header.pug
                include ../sections/_main.pug





