extends ./../layouts/main.pug

block variables
    - const title = "Главная";


block content
    .wrapper
        .row
            .col--left.col
                .col__container--left
                    include ../sections/_nav.pug
            .col--right.col
        
            


