/* Cтили, заданные по умолчанию */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
}

body {
  background-color: #4d5474;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  display: block;
  background-color: transparent;
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}

[class*="container"] {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0 15px;
  min-height: 100%;
  margin: 0 auto;
  max-width: 90rem;
  min-width: 20rem;

  @media (min-width: 90rem) {
    padding: 0;
  }
}

/* // Cтили, заданные по умолчанию */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.row {
  display: flex;
  flex: 1 1 auto;
}

.col--left {
  width: 16.74%;
}

.col--right {
  padding: 3.44rem 4.94rem 3.44rem 2.5rem;
  width: calc(100% - 16.74%);
}

.col__container--left {
  width: 15.06rem;
}
